html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 5px;
}
html::-webkit-scrollbar-track {
  display: none;
}
html::-webkit-scrollbar-button {
  display: none;
}
html::-webkit-scrollbar-corner {
  display: none;
}
